IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_客戶銀行資訊_客戶資料]') AND parent_object_id = OBJECT_ID(N'[dbo].[客戶銀行資訊]'))
ALTER TABLE [dbo].[客戶銀行資訊] DROP CONSTRAINT [FK_客戶銀行資訊_客戶資料]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_客戶聯絡人_客戶資料]') AND parent_object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]'))
ALTER TABLE [dbo].[客戶聯絡人] DROP CONSTRAINT [FK_客戶聯絡人_客戶資料]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]') AND name = N'IX_CustomerId')
DROP INDEX [IX_CustomerId] ON [dbo].[客戶聯絡人]
GO
/****** Object:  Table [dbo].[客戶銀行資訊]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[客戶銀行資訊]') AND type in (N'U'))
DROP TABLE [dbo].[客戶銀行資訊]
GO
/****** Object:  Table [dbo].[客戶資料]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[客戶資料]') AND type in (N'U'))
DROP TABLE [dbo].[客戶資料]
GO
/****** Object:  Table [dbo].[客戶聯絡人]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]') AND type in (N'U'))
DROP TABLE [dbo].[客戶聯絡人]
GO
/****** Object:  Database [G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF')
DROP DATABASE [G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF]
GO
/****** Object:  Database [G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF')
BEGIN
CREATE DATABASE [G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF] ON  PRIMARY 
( NAME = N'DemoApplication3.Models.DemoEntities.mdf', FILENAME = N'G:\Projects\WebApplication1\WebApplication1\App_Data\客戶資料.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DemoApplication3.Models.DemoEntities_log.ldf', FILENAME = N'G:\Projects\WebApplication1\WebApplication1\App_Data\客戶資料_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [G:\PROJECTS\WEBAPPLICATION1\WEBAPPLICATION1\APP_DATA\客戶資料.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[客戶聯絡人]    Script Date: 2016/10/16 下午 05:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[客戶聯絡人](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[客戶Id] [int] NOT NULL,
	[職稱] [nvarchar](50) NOT NULL,
	[姓名] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[手機] [nvarchar](50) NULL,
	[電話] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[客戶資料]    Script Date: 2016/10/16 下午 05:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[客戶資料]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[客戶資料](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[客戶名稱] [nvarchar](50) NOT NULL,
	[統一編號] [char](8) NOT NULL,
	[電話] [nvarchar](50) NOT NULL,
	[傳真] [nvarchar](50) NULL,
	[地址] [nvarchar](100) NULL,
	[Email] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[客戶銀行資訊]    Script Date: 2016/10/16 下午 05:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[客戶銀行資訊]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[客戶銀行資訊](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[客戶Id] [int] NOT NULL,
	[銀行名稱] [nvarchar](50) NOT NULL,
	[銀行代碼] [int] NOT NULL,
	[分行代碼] [int] NULL,
	[帳戶名稱] [nvarchar](50) NOT NULL,
	[帳戶號碼] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_客戶銀行資訊] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[客戶資料] ON 

INSERT [dbo].[客戶資料] ([Id], [客戶名稱], [統一編號], [電話], [傳真], [地址], [Email]) VALUES (1, N'多奇數位', N'12694272', N'0223222480', N'0223418318', N'台北市中正區杭州南路一段六巷五號三樓', N'service@miniasp.com')
SET IDENTITY_INSERT [dbo].[客戶資料] OFF
/****** Object:  Index [IX_CustomerId]    Script Date: 2016/10/16 下午 05:38:52 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]') AND name = N'IX_CustomerId')
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[客戶聯絡人]
(
	[客戶Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_客戶聯絡人_客戶資料]') AND parent_object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]'))
ALTER TABLE [dbo].[客戶聯絡人]  WITH CHECK ADD  CONSTRAINT [FK_客戶聯絡人_客戶資料] FOREIGN KEY([客戶Id])
REFERENCES [dbo].[客戶資料] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_客戶聯絡人_客戶資料]') AND parent_object_id = OBJECT_ID(N'[dbo].[客戶聯絡人]'))
ALTER TABLE [dbo].[客戶聯絡人] CHECK CONSTRAINT [FK_客戶聯絡人_客戶資料]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_客戶銀行資訊_客戶資料]') AND parent_object_id = OBJECT_ID(N'[dbo].[客戶銀行資訊]'))
ALTER TABLE [dbo].[客戶銀行資訊]  WITH CHECK ADD  CONSTRAINT [FK_客戶銀行資訊_客戶資料] FOREIGN KEY([客戶Id])
REFERENCES [dbo].[客戶資料] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_客戶銀行資訊_客戶資料]') AND parent_object_id = OBJECT_ID(N'[dbo].[客戶銀行資訊]'))
ALTER TABLE [dbo].[客戶銀行資訊] CHECK CONSTRAINT [FK_客戶銀行資訊_客戶資料]
GO
